body {
    background-color: #B3A6A6;
}

h1 {
    font-weight: bold;
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
    color:#1A1A1A;
    text-decoration: underline;
}

p {
    font-family: Helvetica;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    color:#1A1A1A;
}